.collection._container 
	.collection__body 
		.collection__title
			h2.t-h2 Популярные подборки
		.collection__content
			a(href=linkTo("categories/electric-tools", filename)).collection__button 
				span Строительные материалы
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Электроинструмент
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Бензоинструмент
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Металл
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Сантехника
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Крепеж и метизы
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Товары для сада и огорода
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Краски и химия
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Пиломатериалы
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Электротовары
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Сопутствующие товары
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Ручной инструмент
			a(href=linkTo("categories/electric-tools", filename)).collection__button
				span Измерительные приборы